@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'roboto', 'arial', 'sans-serif';
    height: 100vh;
    width: 100vw;
}

.container{
    display: flex;
    flex-direction: row;
}

.square-grid{
    width: 16px;
    height: 16px;
    background-color:  #000;
    border-radius: 3px;
    margin:3px;
    transition: 0.02s ease-in-out;
    
}

.new-square-grid{
    width: 16px;
    height: 16px;
    background-color:  #000;
    border-radius: 3px;
    margin:3px;
    transition: 0.02s ease-in-out;
    
}

.redBG{
    background-color: red;
}





