@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', arial, sans-serif;
}

body {
    background-color: rgb(23, 129, 223);
}

.container {
    display: grid;
    aspect-ratio: 1/1;
    width: 80vw;
    height: auto;
    margin: auto 10vw;
    margin-top: 64px;
    border: 2px solid black;
    padding: 5px;
}

.box {
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
    height: auto;
    transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}